@import "tailwindcss";

@layer base {
  body {
    background-color: #fcfcfc;
    color: #0f172a;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

